.page-container {
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 352px;
  background: rgba(255, 255, 255, 1);
  border-radius: 24px;
  margin-top: 24px;
  .shop-container {
    width: 750px;
    height: 152px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .shop-main {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 750px;
      height: 152px;

      .shop-logo-container {
        width: 148px;
        height: 148px;
        display: flex;
        justify-content: center;
        align-items: center;

        .shop-logo {
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }
      }

      .shop-info {
        display: flex;
        flex-direction: column;

        .shop-name {
          max-width: 540px;
          color: #262626;
          font-size: 26px;
          font-weight: bold;
          overflow: hidden;
          display: -webkit-box;
          text-overflow: ellipsis;
          -webkit-line-clamp: 1;

          /*! autoprefixer: ignore next */
          -webkit-box-orient: vertical;
        }

        .shop-ext {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-top: 22px;
          .shop-ext-title {
            font-size: 22px;
            color: #252525;
            padding-right: 16px;
          }
          .shop-rate {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }

          .rate-5 {
            width: 130px;
            height: 26px;
            background-image: url(./images/rate5.png);
          }
          .rate-4 {
            width: 104px;
            height: 26px;
            background-image: url(./images/rate4.png);
          }
          .rate-3 {
            width: 78px;
            height: 26px;
            background-image: url(./images/rate3.png);
          }
          .rate-2 {
            width: 52px;
            height: 26px;
            background-image: url(./images/rate2.png);
          }

          .rate-1 {
            width: 26px;
            height: 26px;
            background-image: url(./images/rate1.png);
          }
          .rate-half-big {
            width: 26px;
            height: 26px;
            background-image: url(./images/rate6.png);
          }
          .rate-half-small {
            width: 26px;
            height: 26px;
            background-image: url(./images/rate7.png);
          }
          .rate-empty {
            width: 28px;
            height: 28px;
            background-image: url(./images/rate0.png);
          }
        }
      }

      .more-icon {
        position: absolute;
        margin: auto;
        top: 0;
        right: 30px;
        bottom: 0;
        width: 30px;
        height: 30px;
        background-image: url(./images/more.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 12px 24px;
      }
    }
  }
  .shop-follow-container {
    width: 690px;
    height: 86px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .follow-wrap {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
      align-items: center;
      .follow-value {
        color: #252525;
        font-size: 36px;
        font-weight: bold;
      }
      .follow-title {
        color: #252525;
        font-size: 22px;
        padding-top: 4px;
      }
    }
    .clear-line {
      width: 2px;
      height: 40px;
      background: #b2b2b2;
    }
  }

  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    .btn-area {
      margin: 0 18px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 208px;
      height: 60px;
      background: rgba(255, 255, 255, 1);
      border: 1px solid rgba(151, 151, 151, 1);
      border-radius: 30px;

      .btn-area-icon {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .contact {
        width: 28px;
        height: 26px;
        background-image: url(./images/contact.png);
      }
      .enter {
        width: 32px;
        height: 32px;
        background-image: url(./images/enter.png);
      }
      .btn-area-txt {
        font-size: 24px;
        color: #262626;
        padding-left: 12px;
      }
    }
  }
}
