.detailTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  padding: 0 12px;
  position: relative;
  font-size: 32px;
  color: #c71622;
  font-weight: bold;
  line-height: 44px;
}
.titleIcon {
  display: block;
  width: 18px;
  height: 10px;
  background: url("https://img11.360buyimg.com/imagetools/jfs/t1/186882/22/5005/446/60b4775aEdbec4f4c/8631f0f107da774b.png")
    no-repeat;
  background-size: 100%;
}
