.container {
  display: block;
  position: relative;
}
.container__wrap {
  width: 690px;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  align-items: flex-start;
}
.container__sub__icon {
  width: 60px;
  height: 60px;
  background-image: url(./images/no-selected.png);
  background-position: center;
  background-size: 38px;
  background-repeat: no-repeat;
}
.container__sub__icon.selected {
  background-image: url(./images/selected.png);
}
.container__sub__tip {
  font-size: 28px;
  color: #1d1e1e;
  padding-left: 12px;
}
