.info {
  background: #fff;
  font-size: 26px;
  margin-bottom: 16px;
}
.info__itemsul {
  padding: 16px 20px 8px 20px;
  overflow: hidden;
}
.info__item {
  float: left;
  width: 50%;
  height: 32px;
  line-height: 30px;
  margin-bottom: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  padding-right: 20px;
  :nth-child(2n + 1) {
    padding-right: 0;
  }
  list-style: none;
}
.info__label {
  margin: 0;
  line-height: 30px;
  justify-content: flex-start;
  color: #848484;
  display: inline-block;
}
.info__value {
  justify-content: flex-start;
  color: #2e2d2d;
  display: inline-block;
  max-width: 200px;
  margin: 0;
}
.clear {
  clear: both;
}
