.container {
  display: flex;
}
.check__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.check__box__icon {
  width: 32px;
  height: 32px;
  background-image: url(./images/no-selected.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}
.check__box__icon.selected {
  width: 32px;
  height: 32px;
  background-image: url(./images/selected.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}
.check__box__txt {
  padding-left: 10px;
  font-size: 28px;
  color: #333333;
}
