.flow {
  font-size: 26px;
  color: #2e2d2d;
  background: #fff;
  margin-bottom: 16px;
}
.flow__content {
  padding: 10px 10px 20px;
  display: flex;
  white-space: nowrap;
  justify-content: space-around;
}
.flow__item {
  display: flex;
  white-space: nowrap;
}
.flow__con {
  text-align: center;
  justify-items: center;
}
.flow__arrow {
  width: 44px;
  height: 68px;
  background: url(https://img10.360buyimg.com/imagetools/jfs/t1/122401/37/9354/511/5f314333E1428a79e/8d49e2c3291ca41c.png)
    no-repeat center right;
  background-size: 32px;
}
.flow__text {
  text-align: center;
  padding: 8px 0;
}
.flow__icon1 {
  width: 66px;
  height: 66px;
  margin: 0 auto;
  background: url(https://img12.360buyimg.com/imagetools/jfs/t1/129423/38/9794/786/5f3a34d7E98ce8a73/d8a8f13a2bb7ff9a.png)
    no-repeat center center;
  background-size: cover;
}
.flow__icon2 {
  width: 66px;
  height: 66px;
  margin: 0 auto;
  background: url(https://img12.360buyimg.com/imagetools/jfs/t1/129423/38/9794/786/5f3a34d7E98ce8a73/d8a8f13a2bb7ff9a.png)
    no-repeat center center;
  background-size: cover;
}
.flow__icon3 {
  width: 66px;
  height: 66px;
  margin: 0 auto;
  background: url(https://img12.360buyimg.com/imagetools/jfs/t1/129423/38/9794/786/5f3a34d7E98ce8a73/d8a8f13a2bb7ff9a.png)
    no-repeat center center;
  background-size: cover;
}
.flow__icon4 {
  width: 66px;
  height: 66px;
  margin: 0 auto;
  background: url(https://img12.360buyimg.com/imagetools/jfs/t1/129423/38/9794/786/5f3a34d7E98ce8a73/d8a8f13a2bb7ff9a.png)
    no-repeat center center;
  background-size: cover;
}
.flow__icon5 {
  width: 66px;
  height: 66px;
  margin: 0 auto;
  background: url(https://img12.360buyimg.com/imagetools/jfs/t1/129423/38/9794/786/5f3a34d7E98ce8a73/d8a8f13a2bb7ff9a.png)
    no-repeat center center;
  background-size: cover;
}
