.bid_input {
  margin: 0 auto;
  border: 1px solid #c7c8c9;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bid_dec {
  position: relative;
  width: 100px;
  height: 88px;
  border-right: 1px solid #c7c8c9;
}
.bid_dec::before {
  content: "";
  height: 4px;
  width: 30px;
  background: #848689;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.bid_value {
  width: 414px;
  text-align: center;
  line-height: 88px;
  font-size: 32px;
  color: #ff0000;
  font-weight: bold;
}
.bid_inc {
  position: relative;
  width: 100px;
  height: 88px;
  border-left: 1px solid #c7c8c9;
}
.bid_inc::before {
  content: "";
  height: 4px;
  width: 30px;
  background: #848689;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.bid_inc::after {
  content: "";
  height: 30px;
  width: 4px;
  background: #848689;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.digit_uppercase {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 28px;
  color: rgba(242, 52, 47, 1);
}
